{% extends "master.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    {% if userSession %}
        <table border="1">
            <tr><th>#</th><th>task description</th><th>due date</th><th>is done</th><th>actions</th></tr>
        {% for t in todoList %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{t.task}}</td>
                <td>{{t.dueDate}}</td>
                <td>{{t.isDone}}</td>
                <td>
                    <a href="/edit/{{t.id}}">Edit</a>
                    <a href="/delete/{{t.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>You must register or login first to view your your data.</p>
    {% endif %}
{% endblock %}